<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<meta charset="utf-8">
	<title>Default page template</title>
	<link rel="stylesheet" type="text/css" href="../../Public/Css/main.css" media="all">
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="../../Public/Css/legacy.css" media="all"><![endif]-->

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="X-UA-Compatible" content="IE=edge">
</head>
<body>
<f:layout name="Default"/>
<f:section name="Main">
	<f:render partial="Layouts/{backendLayout}"/>
</f:section>
</body>
</html>
